/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}



/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should be a color other than white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally on the screen */
    top: 50%;
    /* centers the loading animation vertically on the screen */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvkXciXd_bcjuWYuJTgHML765AeIo5zqaGJEWHkYz0Yq5j0PBB');
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}




.cd-heading {

    font-weight: 600;
    color: #22456b;
    font-family: 'Alkatra', cursive;
}

.search-btn {
    color: #22456b !important;
    border: 1px solid #22456b !important;
    height: 40px !important;

}

.search-btn:hover {
    color: #ffffff !important;
    border: 1px solid white !important;
    background-color: #22456b !important;


}

.nav-button {
    color: #22456b !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.nav-button:hover {

    background-color: #97c1ee !important;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #22456b !important;
    background-color: #fff !important;
    border-color: #22456b #22456b #fff !important;
    border-width: 2px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {

    border-bottom-color: #22456b !important;
    border-bottom-width: 2px !important;

}



.table-head,
.modal-heading {
    background-color: #113e6b;
    color: white;
}

.edit {
    color: #fac33c;
}

.nav-buttons {
    position: fixed;
    top: 60px !important;

}

.nav {
    flex-wrap: nowrap !important;
}

/* .table-head {
    position: sticky;
    top: 0px;
    width: 100% !important;
    z-index: 9999;
} */

/* th {
    position: sticky;
    top: 0px;
    z-index: 9999;
} */
thead {
    position: sticky;
    top: 0;
    z-index: 1000;
}



tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none !important;
}


.tab-table-content {
    position: relative;
    top: 150px !important;

}

thead tr th {
    cursor: pointer;
}

thead tr th:hover {
    color: #fac33c;

}

thead tr th.active {
    color: #fac33c;
}

thead tr th.active .icon-arrow {
    color: #fac33c;
}



.warningModal {
    background-color: #ffcc00;
}